// Color Variables
$primary-color: navy;
$secondary-color: orange;
$text-color: pink;
$text-color-light: yellow;
$text-color-dark: brown;
$body-color: white;
$border-color: red;
$black: #222;
$white: #ddd;
$light: lime;
$gray: gray;

$footer-color: teal;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';