{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- publications Policy -->" | safeHTML }}
{{ with $data.publications.publications }}
<section class="publications section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!--<nav class="publications-nav">
          <ul>
            {{ range . }}
            <li><a href="#{{ .name | urlize }}" class="nav-link scrollTo">{{ .name | title }}</a></li>
            {{ end }}
          </ul>
        </nav>-->
      </div>
      <div class="col-md-9">
        <div class="block">
          {{ range . }}
          <div id="{{ .name | urlize }}" class="publications-item">
            <div class="title">
              <h3>{{ .name | title }}</h3>
            </div>
            <div class="publications-details">
              {{ .content | markdownify }}
            </div>
          </div><br><hr>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ "<!-- End of publications Policy -->" | safeHTML }}

{{ end }}