{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- Privacy Policy -->" | safeHTML }}
{{ with $data.imprint.privacy }}
<section class="privacy section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-9">
        <div class="block">

<h3><b>Publisher</b></h3>
<br>

	<p>
	Published on behalf of the Rector of RWTH Aachen University.
	</p>
	<br>

	<p>
	RWTH Aachen University<br>
	Templergraben 55<br>
	52062 Aachen (street address)<br>
	52056 Aachen (mailing address)
	</p>
	<br>

	<p>
	Phone: +49 241 80 1<br>
	Fax: +49 241 80 92312<br>
	Email: impressum@rwth-aachen.de
	</p>
	<br>

	<p>
	RWTH Aachen University is a public institution represented by the Rector, Univ.-Prof. Dr. rer. nat. Dr. h.c. mult. Ulrich Rüdiger.
	</p>

<br>
<hr>
<h3><b>Regulatory Authority</b></h3>
<br>

	<p>
	Ministerium für Innovation, Wissenschaft und Forschung (MIWF)<br>
	des Landes Nordrhein Westfalen<br>
	Völklinger Straße 49<br>
	40221 Düsseldorf<br>
	Germany<br>
	</p>

<br>
<hr>
<h3><b>
Sales Tax Identification Number
</b></h3>
<br>

	<p>In accordance with § 27 Sales Tax Law: DE 121689807</p>

<br><hr>
<h3><b>Liability and Contact</b></h3>
<br>
<p>
IT-Center der RWTH Aachen<br>
ServiceDesk<br>
Seffenter Weg 23<br>
52074 Aachen<br>
servicedesk@itc.rwth-aachen.de<br>
Phone: +49 241 80 24687<br>
Fax: +49 241 80 22134<br>
</p>

<br><hr>
<h3><b>Disclaimer</b></h3>
<br>
<p>
The RWTH Aachen University makes every effort to ensure that the material contained in its web site is current, complete and correct. Despite this errors and mistakes cannot be completely ruled out.

The RWTH Aachen University does not accept liability for the relevance, accuracy or completeness of the information and material offered in its web site unless the mistake occurred intentionally or through gross negligence. This refers to any loss, additional costs or damage of any kind suffered as a result of any use of any material in this web site.
</p>

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ "<!-- End of Privacy Policy -->" | safeHTML }}

{{ end }}